.container{
    width: 95%;
    text-align: center;
}
.page-footer{
    background-image: linear-gradient(to bottom,#6cd297 -5%,#08b284 101%);
    /* background: #424242 !important; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
.titleimgfoo img{ 
    width: 300px;
    height: 100px;
}
.footrowpar {
    text-align:left;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.footer-copyright{
    font-weight: 600;
    letter-spacing: 0.2px;
}
.foot-title-head{
    font-weight: 600;
    border-bottom: 2px solid #17ac80;
}
@media screen and (max-width:768px){
    .footrowpar {
        text-align:center;
    }
}