body{
    background: #f2f2f2;
    font-family: 'Nunito', sans-serif;
}
.LeftSection{
    margin-right: 20px;
    width: 280px;
    float: left;
    position: relative;
}
.hi{
    color: greenyellow;
}
.leftArticle{
    width: 100%;
    max-width: 280px;
    background: #fff;
    padding: 6px 13px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    margin: 0 6px 12px 0;
}
.serieContent{
    font-size: 13px;
    line-height: 34px;
    font-weight: bolder;
    color: #333;
}
.sericeHeader{
    border-bottom: 1px dotted gray;
    font-size: 16px;
    /* color: lightcoral; */
    color: #6cd297;
}
.serieContent ul li{
    border-bottom: 1px dotted silver;
    cursor: pointer;
}
.serieContent ul li a{
    color: #366148;
    font-weight: 100;
}
.serieContent ul li:hover{
    background: lavender;
    padding: 0px 10px;
    transition: .4s ease;
    border-radius: 4px;
}
.mainbox{
    cursor: pointer;
    font-size: 20px;
}
.mainbox, .closeBtn{
    display: none;
}
@media screen and (max-width:800px){
    .LeftSection{
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 1;
        /* max-width: 280px; */
        /* padding: 6px 13px; */
       width: 0;
       overflow-x: hidden;
       padding: 0;
       transition: all .5s;
    }
    .leftArticle{
        border-radius: 0;
    }
    .closeBtn{
        position: absolute;
        top: 5px;
        right: 25px;
        font-size: 25px;
        margin-left: 32px;
        color: #6cd297;
    }
    .dispWid{
        width: 280px !important;
        padding: 0 !important;
    }
    .hideeWid{
        width: 0 !important;
        padding: 0 !important;
    }
    .mainbox, .closeBtn{
        display: initial;
        transition: all .6s;
    }
    .mainbox i{
        font-size: 29px;
        color: #6cd297;
        position: fixed;
        left: -2px;
        z-index: 1;
    }
    .serieContent ul li {
        white-space: nowrap;
    }
}
@media screen and (max-width:768px){
    .LeftSection{
        /* display: none; */
    }
}