body{
    background: #f2f2f2;
    font-family: 'Nunito', sans-serif;
}
.LeftSection{
    margin-right: 20px;
    width: 280px;
    float: left;
    position: relative;
}
.hi{
    color: greenyellow;
}
.leftArticle{
    width: 100%;
    max-width: 280px;
    background: #fff;
    padding: 6px 13px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    margin: 0 6px 12px 0;
}
.serieContent{
    font-size: 13px;
    line-height: 34px;
    font-weight: bolder;
    color: #333;
}
.sericeHeader{
    border-bottom: 1px dotted gray;
    font-size: 18px;
    text-align: center;
    /* color: lightcoral; */
    color: #6cd297;
    font-weight: 600;
}
.serieContent ul li{
    border-bottom: 1px dotted silver;
    cursor: pointer;
}
.serieContent ul li a{
    color: #366148;
    font-weight: 600;

}
.serieContent ul li:last-child{
    border-bottom: 0;
}
.serieContent ul li:hover a{
    /* background: lavender; */
    /* padding: 0px 10px; */
    color: cornflowerblue;
    /* border-radius: 4px; */
}
.mainbox{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 112.1px;
    z-index: 1;
    left: 3px;
    opacity: 0.7px;
    display: none;
}
.mainbox, .closeBtn{
    display: none;
}
[data-scroll] {
    transition: all 2s;
}
.in_burger{
    display: none;
}
@media screen and (max-width:800px){
    .LeftSection{
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 1;
        /* max-width: 280px; */
        /* padding: 6px 13px; */
       /* width: 0; */
       overflow-x: hidden;
       padding: 0;
       transition: all .5s;
    }
    .leftArticle{
        border-radius: 0;
        background: #f2f2f2;
        border: 0;
    }
    .closeBtn{
        position: absolute;
        top: -2px;
        right: 19px;
        font-size: 30px;
        margin-left: 32px;
        color: silver;
    }
    .dispWid{
        /* width: 280px !important; */
        left: 0;
        padding: 0 !important;
    }
    .hideeWid{
        /* width: 0 !important; */
        left: -100%;
        padding: 0 !important;
    }
    .mainbox, .closeBtn{
        display: initial;
        transition: all .6s;
    }
    .mainbox i{
        font-size: 29px;
        color: #6cd297;
        position: fixed;
        left: -2px;
        z-index: 1;
    }
    .serieContent ul li {
        white-space: nowrap;
    }
    
}
@media screen and (max-width:768px){
    .LeftSection{
        background: #f2f2f2;
        height: 100vh;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-bottom-right-radius: 8px;
        padding: 15px 13px;
    }
    .serieContent ul li a{
        color: #333;
    }
    .line{
        width: 17px;
        height: 2px;
        background: #fff;
        margin-bottom: 3px;
    }
    .burger{
        position: absolute;
        width: 60px;
        left: -22px;
        top: -4px;
        z-index: 1;
    }
    .in_burger{
        display: initial;
        position: absolute;
        top: 61px;
        left: -6px;
    }
}