.liveScoreArticle .row{
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}
.titleh5{
    text-align: center;
}

.liveFirstRow{
    position: sticky;
    background: #f2f2f2;
}
.live_First_ul{
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
    position: sticky;
    top: 0;
    background: #f2f2f2; 
    z-index: 4;
}
.live_First_ul li a {
    color: #333;
}
.live_First_ul li a.active {
    border-bottom: 2px solid lightcoral;
    background: #f2f2f2!important;
    color: #333!important;
}
/* #liveMain{
    height: 100vh;
    background: #000;
}
#completedLivescore{
    height: 100vh;
    background: lightcoral;
}
#upcomingLivescore{
    height: 100vh;
    background: greenyellow;
} */